.list{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.item{
    position: relative;
    padding: 15px 14px;
    border: 3px solid rgba(186, 186, 186, 0.4);
    box-sizing: border-box;
    border-radius: 8px;
    margin: 16px 17px;
}
.item img{
    max-width: 127px;
    border-radius: 50%;
}
.header{
    display: flex;
    flex-direction: column;
}
.header .info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header .buttons{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.bannerName{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 24px 18px 21px 18px;
}
button.bannerName{
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
.call{
    width: 100%;
    padding: 15px;
    background: #06C668;
    border: 2px solid #06C668;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 48px;
}
.editBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: transparent;
}
.name{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 11px;
}
@media screen and (max-width: 1024px){
    .list{
        grid-template-columns: 100%;
    }
    .header .buttons, .header .info{
        flex-direction: column;
    }
    button, a{
        max-width: max-content;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .call{
        min-width: 250px;
    }
    button.bannerName{
        font-size: 16px;
        position: absolute;
        right: 0;
        text-transform: uppercase;
    }
    .bannerName{
        max-width: calc(100% - 130px);
    }
}